.Navbar {
    text-align: center;
    width: auto;
    height: 8vh;
    background-color: #1a7129;
}

.backButton,
.homeButton,
.logoutButton {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border-radius: 12px;
    /* border: 2px solid rgb(255, 175, 1); */
    /* box-shadow: 2px 1px rgb(255 175 1); */
    border: none;
    height: 8vh;
    min-width: 80px;
    /* margin: 8px 3px; */
    font-size: 17px;
    transition-duration: 0.7s;
}

.backButton:hover,
.homeButton:hover,
.logoutButton:hover {
    background-color: #259c3a;
}

.backButton,
.homeButton {
    float: left;
}

.right {
    float: right;
}

.user {
    text-decoration: underline;
    font-size: 25px;
}

@media screen and (max-width:695px) {

    .backButton,
    .homeButton,
    .logoutButton {
        font-size: 12px
    }
}

@media screen and (max-width:500px) {

    .backButton,
    .homeButton,
    .logoutButton {
        min-width: 30px;
        margin: 3px 1px;
    }
}